/*--------------------------------------
				generales
--------------------------------------*/
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: chocolate_calienteregular, arial;
}
header {
  position: fixed;
  top: 30px;
  top: 50px;
  left: 0;
  z-index: 9999;
  width: 100%;
}
#menuBG {
  height: 70px;
  border-bottom: 10px solid #b52a31;
  background: #1e5327;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  color: white;
  opacity: .9;
}
#logo {
  margin-top: -30px;
}
#menu ul {
  margin-top: 20px;
}
#menu ul li {
  margin-right: 15px;
}
#menu ul li a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
  text-decoration: none;
  font-size: 22px;
}
#menu ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 10px solid white;
}
.wallpapered70 {
  margin: 0;
  padding-top: 35%;
  width: 100%;
  background: #eee center top;
}
.wallpapered {
  margin: 0;
  padding-top: 50%;
  width: 100%;
  background: #eee center top;
}
.wallpaperedNos {
  margin: 0;
  padding-top: 370px;
  width: 100%;
  background: #eee center top;
}
.titulo {
  color: #b52a31;
  text-shadow: 2px 2px 0px #440f0f;
  font-size: 85px;
}
.tituloS {
  color: #b52a31;
  margin: 0;
  padding: 0;
}
footer {
  position: relative;
  z-index: 99;
  height: 80px;
  background: #b52a31;
}
footer img {
  margin-top: -50px;
}
.btnRojo {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 15px;
  padding: 10px 15px;
  background: #b52a31;
  border: none;
  color: white;
  text-shadow: none;
}
.btnRojo span {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-left: 5px;
  padding: 1px 5px;
  background: white;
  color: #b52a31;
}
.btnRojo:hover {
  background: #a0252b;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
/*--------------------------------------
				index
--------------------------------------*/
#redesIndex {
  padding: 15px;
  height: 90px;
  background: url(../img/redesindex.jpg) center center #b52a31;
  color: white;
  font-size: 16px;
  line-height: 17px;
}
#redesIndex h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 28px;
}
#hotspot-6 {
  background: #c99629;
}
.upper {
  position: absolute !important;
  top: 10%;
  left: 5%;
  z-index: 1;
}
#upper2 {
  position: absolute;
  z-index: 99999999;
  margin-top: 300px;
  width: 400px;
  right: 5%;
}
#text-Ens {
  width: 400px;
  margin-top: -600px;
  margin-bottom: 300px;
  z-index: 999;
  position: relative;
  float: right;
  text-align: right;
  right: 3%;
  color: white;
  text-shadow: 1px 1px 3px #000000;
  font-size: 18px;
}
#mapaCont {
  color: white;
  font-size: 18px;
}
#mapaCont p {
  text-shadow: 1px 1px 3px #000000;
}
#contIndex {
  color: white;
  text-shadow: 1px 1px 3px black;
}
#contIndex h3 {
  color: white;
}
#contIndex #notipizza {
  margin-top: 30px;
}
#contIndex ul li a {
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#contIndex ul li a:hover {
  color: #b52a31;
  text-decoration: none;
}
#quotes {
  background: #1a4521 url(../img/notebook.jpg) repeat;
}
blockquote p {
  margin-bottom: 10px;
  font-style: italic;
  color: white;
  font-size: 24px;
}
blockquote cite {
  font-style: normal;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
blockquote {
  font-family: Georgia, Times, serif;
  width: 100%;
  /* required */
  margin: 0 auto;
}
#quote_wrap {
  background: url(../img/quote1.png) no-repeat;
  margin: 20px 0 80px 0;
  padding: 20px;
}
/*--------------------------------------
				top 10
--------------------------------------*/
#topBG {
  background: url(../img/topBG.jpg) repeat;
}
#hotspot-27 {
  width: 1200px;
  margin: -30px auto 0 auto;
}
#pizzasIntro {
  position: relative !important;
  z-index: 1;
  right: 40px;
  width: 1200px;
  margin: 140px auto -370px auto;
  color: white;
  text-align: right;
}
#pizzasIntro h1 {
  font-size: 140px;
  margin-bottom: -10px;
}
#pizzasIntro h3 {
  margin: 0 0 -50px 0;
  text-shadow: 2px 2px 0px #440f0f;
  font-size: 40px;
}
#pizzasIntro p {
  width: 430px;
  float: right;
  font-size: 18px;
  text-align: right;
  text-shadow: 1px 1px 3px #000000;
}
#pizzasIntro img {
  margin-top: -30px;
  margin-right: 20px;
}
#hotspot-32 {
  margin-top: -200px;
  position: relative;
  z-index: 9;
}
#hotspot-58 {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-top: 400px;
}
#pizzas {
  margin-top: -400px;
  margin-bottom: 130px;
}
.nomPizzas {
  font-size: 30px;
  font-family: chocolate_calienteregular, arial;
}
.nomPizzas li {
  color: white;
  text-shadow: 1px 1px 3px #000000;
  margin: 5px 0;
  list-style: none;
}
.nomPizzas li span {
  background: #328c42;
  padding: 2px 10px 0px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  margin-right: 15px;
  text-shadow: none;
  font-size: 20px;
}
.prods {
  margin: 15px 0;
  text-align: center;
}
#redesTop {
  padding: 15px;
  height: 90px;
  background: url(../img/redesindex.jpg) center center #b52a31;
  color: white;
  font-size: 16px;
  line-height: 17px;
  z-index: 1;
  position: relative;
}
#redesTop h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 28px;
}
#menuTop10 {
  background: url(../img/ingBG.jpg) no-repeat center top;
  background-attachment: fixed;
}
.complementos {
  padding: 50px 0;
}
.cerrar {
  font-family: chocolate_calienteregular, arial;
  font-size: 18px;
  background: #b52a31;
  color: white;
  padding: 5px 10px 0 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  box-shadow: 0px 0px 6px black;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.cerrar:hover {
  color: white;
  background: darkent(#b52a31, 5%);
  text-decoration: none;
}
/*--------------------------------------
				contacto
--------------------------------------*/
#contBG {
  background: url(../img/contactoBG.jpg) repeat center top;
}
#formulario {
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 190px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 6px black;
  padding-bottom: 20px;
}
#verduras {
  float: left;
  position: absolute;
  z-index: 99;
  left: 3%;
}
/*---------------------------------------
              nosotros
---------------------------------------*/
#nosBG {
  background: url(../img/contactoBG.jpg) repeat center top;
}
#nosHeader {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}
#nosInfo {
  background: white;
  margin-top: -50px;
  margin-bottom: 80px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: justify;
  padding-bottom: 40px;
  box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 9;
}
#imgNos {
  margin-top: -100px;
}
/*---------------------------------------
              sucursales
---------------------------------------*/
/*-------------------------------------
				Sucursal
-------------------------------------*/
.BGSuc {
  background: url(../img/sucBG.jpg);
  background-size: 110%;
}
.contenedor {
  padding-top: 200px;
}
.titulo_suc {
  font-size: .8em;
  line-height: 50px;
  margin: 40% 0 0 25%;
}
.texto_suc {
  text-align: center;
  margin: 10% 0 0 2%;
  color: #595959;
  font-size: medium;
  font-family: sans-serif;
}
.estados {
  color: #328c42;
  font-size: xx-large;
  font-family: chocolate_calienteregular, arial;
  line-height: 40px;
  margin: 30% 0 0 1%;
}
.img_suc {
  margin: 3% -8% 0 0;
}
.mapa {
  background: #ffffff;
}
#map-canvas {
  width: 50%;
  height: 800px;
  margin: 10% 2% 3% 10%;
  float: right;
}
/* Small devices (480px and down) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
